<div class="megs-dialog">
  <form>
    {{#unless isTargeted}}
    <div class="form-group">
      <label>{{localize "Opposing Value"}}</label>
      <input name="opposingValue" type="number" value="0" />
    </div>
    <div class="form-group">
      <label>{{localize "Resistance Value"}}</label>
      <input name="resistanceValue" type="number" value="0" />
    </div>
    {{/unless}}
    <div class="form-group">
      <label>{{localize "HP Spent - Acting"}}</label>
      <div class='flexrow'>{{rangePicker name='hpSpentAP' id='hpSpentAP' value=0 min=0 max=maxHpToSpend step=1}}</div>
    </div>
    <div class="form-group">
      <label>{{localize "HP Spent - Effect"}}</label>
      <div class="flexrow">{{rangePicker name="hpSpentEP" id="hpSpentEP" value=0 min=0 max=maxHpToSpend step=1}}</div>
    </div>
    <!-- TODO combat maneuvers dropdown -->
  </form>
</div>