<div class="megs-dialog padding-bottom-10px">
  <form>
    {{#unless isTargeted}}
    <div class="form-group">
      <label>{{localize "Opposing Value"}}</label>
      <input name="opposingValue" type="number" value="0" />
    </div>
    <div class="form-group">
      <label>{{localize "Resistance Value"}}</label>
      <input name="resistanceValue" type="number" value="0" />
    </div>
    {{/unless}}
    <div class="form-group">
      <label>{{localize "HP Spent - Acting"}}</label>
      <div class="flexrow">
        <input type="range" name="hpSpentAV" value="0" min="0" max="{{maxHpToSpend}}" step="1" oninput="hpSpentAPRangeValue.innerText = this.value">
        <span class="range-value" id="hpSpentAPRangeValue">0</span>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "HP Spent - Effect"}}</label>
      <div class="flexrow">
        <input type="range" name="hpSpentEV" value="0" min="0" max="{{maxHpToSpend}}" step="1" oninput="hpSpentEPRangeValue.innerText = this.value">
        <span class="range-value" id="hpSpentEPRangeValue">0</span>
      </div>
    </div>
    <details>
      <summary class="roll-dialog-summary">Opposing value options</summary>
    <div class="form-group">
      <label>{{localize "HP Spent - Opposing"}}</label>
      <div class="flexrow">
        <input type="range" name="hpSpentOV" value="0" min="0" max="100" step="1" oninput="hpSpentOVRangeValue.innerText = this.value">
        <span class="range-value" id="hpSpentOVRangeValue">0</span>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "HP Spent - Resistance"}}</label>
      <div class="flexrow">
        <input type="range" name="hpSpentRV" value="0" min="0" max="100" step="1" oninput="hpSpentRVRangeValue.innerText = this.value">
        <span class="range-value" id="hpSpentRVRangeValue">0</span>
      </div>
    </div>
    </details>
    <details>
      <summary class="roll-dialog-summary">Advanced options</summary>
      <div class="form-group">
        <label>{{localize "Combat Maneuver"}}</label>
        <div class="flexrow">
          <select  class="resource-select"  name="combatManeuver" data-type="String">
            <option value="">{{localize 'None'}}</option>
            {{#select combatManeuver}}
                {{#each combatManeuvers as |combatManeuverObj key|}}
                <option  value="{{key}}">{{key}}</option>
                {{/each}}
            {{/select}}
          </select>
       </div>
      </div>
    </details>
  </form>
</div>