<div class="megs-dialog">
  <form>
    <div class="form-group">
      <label>{{localize "Opposing Value"}}</label>
      <input name="opposingValue" type="number" value="0" />
    </div>
    <div class="form-group">
      <label>{{localize "Resistance Value"}}</label>
      <input name="resistanceValue" type="number" value="0" />
    </div>
    <div class="form-group">
      <label>{{localize "HP Spent - Acting"}}</label>
      <div class='flexrow'>{{rangePicker name='hpSpentAP' value=0 min=0 max=heroPoints step=1}}</div>
<!--            <input id="hpSpentAP" type="number" value="0" max="&&MAX&&" />-->
    </div>
    <div class="form-group">
      <label>{{localize "HP Spent - Effect"}}</label>
      <input name="hpSpentEP" type="number" value="0" max="&&MAX&&" />
    </div>
  </form>
</div>