<ol class='powers-list'>
  <li class='power flexrow powers-header'>
    <div class='power-name align-left'>{{localize 'Name'}}</div>
    <div class='power-link align-center'>{{localize 'Link'}}</div>
    <div class='power-range align-center'>{{localize 'Range'}}</div>
    <div class='power-range align-center'>{{localize 'Type'}}</div>
    <div class='power-base-cost align-center'>{{localize 'Base Cost'}}</div>
    <div class='power-factor-cost align-center'>{{localize 'Factor Cost'}}</div>
    <div class='power-controls align-center'>
      <a
        class='power-control power-create'
        title='{{localize "DOCUMENT.Create" type='power'}}'
        data-type='power'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type='power'}}
      </a>
    </div>
  </li>
  {{#each powers as |power id|}}
    <li class='power flexrow' data-power-id='{{power._id}}'>
      <div class='power-name align-left'>
        <div class='power-image'>
          <a class='rollable' data-roll-type='power'>
<!--            <img
              src='{{power.img}}'
              title='{{power.name}}'
              width='24'
              height='24'
            />-->
          </a>
        </div>
        <h4>{{power.name}}</h4>
      </div>
      <div class='power-link power-prop align-center'>{{system.link}}</div>
      <div class='power-range power-prop align-center'>{{system.range}}</div>
      <div class='power-type power-prop align-center'>{{system.type}}</div>
      <div class='power-base-cost power-prop align-center'>{{system.base-cost}}</div>
      <div class='power-factor-cost power-prop align-center'>{{system  .factor-cost}}</div>
      <div class='power-controls align-center'>
        <a
          class='power-control power-edit'
          title='{{localize "DOCUMENT.Update" type='power'}}'
        >
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='power-control power-delete'
          title='{{localize "DOCUMENT.Delete" type='power'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>