<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.current_body.value" class="resource-label">{{system.current_body.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.current_body.value" value="{{system.current_body.value}}" data-dtype="Number"/>
          <span> / {{system.abilities.body.value}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.current_mind.value" class="resource-label">{{system.current_mind.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.current_mind.value" value="{{system.current_mind.value}}" data-dtype="Number"/>
          <span> / {{system.abilities.mind.value}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.current_spirit.value" class="resource-label">{{system.current_spirit.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.current_spirit.value" value="{{system.current_spirit.value}}" data-dtype="Number"/>
          <span> / {{system.abilities.spirit.value}}</span>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Abilities</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="spells">Skills</a>
    <a class="item" data-tab="effects">Advantages</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">

      <section class="initiative_and_hp grid grid-2col">
        <div class="initiative flex-group-center">
         <label for="system.initiative.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@initiative.mod" data-label="{{system.initiative.label}}">{{system.initiative.label}}</label>
         <input type="text" name="system.initiative.value" value="{{system.initiative.value}}" data-dtype="Number"/>
       </div>
        <div class="hero-points flex-group-center">
         <label for="system.hero_points.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@hero_points.mod" data-label="{{system.hero_points.label}}">{{system.hero_points.label}}</label>
         <input type="text" name="system.hero_points.value" value="{{system.hero_points.value}}" data-dtype="Number"/>
        </div>
      </section>


    {{#each system.abilities as |ability key|}}
      {{#if (isDivisor 3 @index)}}
       <section class="abilities grid grid-3col">
      {{/if}}
          <div class="ability flex-group-center">
            <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
            <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
<!--            <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
-->
          </div>
      {{#if (isDivisor 3 (sum @index 1))}}
        </section>
     {{/if}}
   {{/each}}
    </div>

    {{!-- Owned Powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
       {{> "systems/dcheroes/templates/actor/parts/actor-powers.hbs"}}
    </div>

    {{!-- Owned Skills Tab --}}
    {{!-- TODO: change to skills from spells--}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/dcheroes/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Advantages Tab --}}
    {{!-- TODO: change to adavnatges from effects--}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/dcheroes/templates/actor/parts/actor-effects.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/dcheroes/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>

