<div  class="grid grid-2col">
    <div class="flex-group-center">
         <label class="flexlarge align-left">Action Value</label>
         <div>{{actionValue}}</div>        
    </div>
    <div class="flex-group-center">
          <label class="flexlarge align-left">Opposing Value</label>
         <div>{{opposingValue}}</div>        
    </div>
    <div class="flex-group-center grid-span-2">
        Difficulty {{difficulty}}
    </div>
    <div class="flex-group-center grid-span-2">
        {{#each dice}}
            {{this}}&nbsp;
        {{/each}}
    </div>
    {{#if columnShifts}}
    <div class="flex-group-center grid-span-2">
        {{columnShifts}} Column Shifts
    </div>
    {{/if}}
    {{#if effectValue}}
    <div class="flex-group-center">
        <label class="flexlarge align-left">Effect Value</label>
        <div>{{effectValue}}</div>        
    </div>
    {{/if}}
    {{#if resistanceValue}}
    <div class="flex-group-center">
        <label class="flexlarge align-left">Resistance Value</label>
        <div>{{resistanceValue}}</div>        
    </div>
    {{/if}}
    <div class="flex-group-center grid-span-2">
        {{result}}
    </div>
</div>