<details class="grid-span-2">
    <div class="grid grid-2col megs-chat">
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">Action Value</label>
            <div>{{actionValue}}</div>        
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">Opposing Value</label>
            <div>{{opposingValue}}</div>        
        </div>
        <div class="flex-group-center grid-span-2 chat-result">
            Difficulty: {{difficulty}}
        </div>
        <div class="flex-group-center grid-span-2 chat-result inverse">
            {{#each dice}}
                <div class="d10">{{this}}</div>
            {{/each}}
        </div>
        <div class="flex-group-center grid-span-2 chat-result">
            {{columnShifts}} 
            {{#if 1ColumnShift}}
            Column Shift
            {{/if}}
            {{#unless 1ColumnShift}}
            Column Shifts
            {{/unless}}
        </div>
        {{#if effectValue}}
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">Effect Value</label>
            <div>{{effectValue}}</div>        
        </div>
        {{/if}}
        {{#if resistanceValue}}
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">Resistance Value</label>
            <div>{{resistanceValue}}</div>        
        </div>
        {{/if}}
    </div>
    <summary class="grid-span-2 no-arrow">
        <div class="grid grid-2col megs-chat">
            <div class="flex-group-center grid-span-2 chat-result {{#if success}}success{{/if}} {{#unless success}}failure{{/unless}}">
                {{result}}
            </div>
        </div>
    </summary>
</details>