<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label power-resource-label">Link</label>
          <select  class="resource-select"  name="system.link" data-type="String">
              {{#select system.link}}
                  {{#each abilities as |ability key|}}
                  <option  value="{{key}}">{{ability.label}}</option>
                  {{/each}}
              {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Range</label>
          <input type="text" name="system.range" value="{{system.range}}"/>
        </div>
        <div class="resource">
          <label class="resource-label">Type</label>
          <select  class="resource-select"  name="system.type" data-type="String">
              {{#select system.type}}
              <option value="auto">Auto</option>
              <option value="dice">Dice</option>
              <option value="both">A/D</option>
              {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Base Cost</label>
          <input type="text" name="system.base_cost" value="{{system.base_cost}}"/>
        </div>
        <div class="resource">
          <label class="resource-label">Factor Cost</label>
          <input type="text" name="system.factor_cost" value="{{system.factor_cost}}"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <h1 class="charname"><input name="short_description" type="short_description" value="{{system.short_description}}" placeholder="Short description"/></h1>

      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula</label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
